<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmianlizers">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMIANLIZERS">
        <activity
            android:name=".activityRegiester"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="false" />
        <activity
            android:name=".activtyEditFood"
            android:exported="false" />
        <activity
            android:name=".activityListFood"
            android:exported="false" />
        <activity
            android:name=".activityAddFood"
            android:exported="false" />
        <activity
            android:name=".activityNewRecord"
            android:exported="false" />
        <activity
            android:name=".activityHome"
            android:exported="false" />
        <activity android:name=".activityCompleteInformation" />
    </application>

</manifest>
